/*清除默认样式 */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.container{
    width: 80%;

    margin: 17px auto;
    /*position: absolute;*/

    color: #666666;
    font-size: 20px;
}
/*margin-top:-13px;*/
/*margin-top:-13px;*/
.left{

    float: left;
}
.right{


    float: right;
}
.box{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;

}
/*头部开始*/
header{
    height: 40px;
    line-height: 40px;
color: #FFFFFF;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: #211E1D;

}
section ul{
    width: 40%;
    margin: 0 auto;
    padding: 20px;
border:1px solid #636363;
   background-color: #f5f5f5;
    opacity: 0.6;

    border-radius: 10px; ;
}
section ul li {
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    opacity:1 ;
    color: black;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    line-height: 40px;
    border-bottom: 1px dashed #636363;
}
section ul li:hover{
    color: red;
}
/*头部结束*/
/*主体开始*/
section .search{
    width: 300px;
    height: 30px;
    display: block;
    margin: 50px auto;
    outline: none;
    text-indent: 10px;
    border:1px solid blue;
    border-radius: 6px;
}
/*主体结束*/
/*控制条开始*/
footer{
    width: 100%;
    height: 48px;
    background: url("../img/playbar_8.jpg");
    position: fixed;
    bottom: 0;
    left: 0;
}
footer .btns{
    height: 16px;
    display: flex;
    align-items: center;
}
footer .btns .prev{
    width: 28px;
    height: 28px;
    background: url("../img/playbar_8.jpg") 0px -124px;
}
footer .btns .prev:hover{
    background-position-x: -30px;
}
footer .btns .start{
    width: 36px;
    height: 36px;
    margin: 0 10px;
    background: url("../img/playbar_8.jpg") 0px -199px;
}
footer .btns .start:hover{
    background-position-x: -40px;
}
footer .btns .next{
    width: 28px;
    height: 28px;
    background: url("../img/playbar_8.jpg") 72px -124px;
}
footer .btns .next:hover{
    background-position-x: -110px;
}
/*进度条*/
footer  .bars .logo{
    width: 40px;
    height: 40px;
    margin-top: -11px;
    margin-left: 20px;
}
footer  .bars .logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
footer .ctrl-bars-box{
    font-size: 12px;
    color: #FFFFFF;
    margin: -9px 10px;


}
 footer .ctrl-bars-box .ctrl-bars {
    width: 400px;
    height: 6px;
    border-radius: 3px;

    background-color: #535353;
     position: relative;
     top: 7px;
}
footer .ctrl-bars-box  p span{
    /*margin: 0 5px;*/
    margin: 0px 5px;
    /*display: inline-block;*/
    /*display: block;*/

    /*font-size: 13px;*/

}
footer .ctrl-bars-box .ctrl-bars .nowBars{
    width: 0px;
    height: 6px;
    border-radius: 3px;
    background-color: #C70C0C;
    position:absolute ;
    top:0;
    left: 0;

}
footer .ctrl-bars-box .ctrl-bars  .ctrl-btn{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -8px;
    background-color: #F3F3F3;
}
footer .ctrl-bars-box .ctrl-bars  .ctrl-btn .ctrl-btn-small{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C70C0C;
    margin: 3px;
    z-index: 9999999;
}
footer .bars .times{
    color: #FFFFFF;
    font-size: 12px;
    margin: 7px 18px;
}
/*音量模式*/
footer .modes{
height: 23px;
    display: flex;
   align-items: center;
}
footer .modes .voice{
    width: 25px;
    height: 25px;
    background: url("../img/playbar_8.jpg") 0px -239px;
}
footer .modes .voice:hover{
    background-position-x: -29px;
}
footer .modes .mode{
    width: 25px;
    height: 25px;
    margin: 0 10px ;
    background: url("../img/playbar_8.jpg") 0px -336px;
}
footer .modes .mode:hover{
    background-position-x: -30px;
}
footer .modes .play-list{
    width: 59px;
    height: 28px;
    text-indent: 37px;
    line-height: 32px;
    color: #FFFFFF;
    font-size: 12px;
    background: url("../img/playbar_8.jpg")-43px -60px;
}
footer .modes .play-list:hover{
    background-position-y: -90px;
}
/*播放列表盒子*/
footer .play-list-box{
    width: 50%;
    height: 200px;
    background-color: #FFFFFF;
    color: #DDDDDD;
    position: absolute;
    bottom: -200px;
    /*bottom: 46px;*/
    left: 25%;
    border-radius: 6px;
    font-size: 12px;

}
footer .play-list-box .list-header{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 900;
    line-height: 30px;
    text-indent: 10px;

    background: url("../img/playbar_8.jpg") 0px 0px;
}
footer .play-list-box ul{
background-color: #211E1D;
    height: 160px;
    overflow:scroll ;
}
footer .play-list-box ul li{
width: 100%;
    height: 28px;
    line-height: 28px;
    text-indent: 20px;
    cursor: pointer;
    color: #afafaf;

 }
footer .play-list-box ul li:hover{
    background-color: #230000;
    color: #FFFFFF;
}
footer .play-list-box ul li.active{
    background-color: #0a0707;
    color: #FFFFFF;
}
footer .play-list-box ul li span:nth-last-of-type(1){
    float: left;
}
footer .play-list-box ul li span:nth-last-of-type(2){
float: right;
    margin-right: 30px;
}
footer .play-list-box ul li i{
    width: 28px;
    height: 28px;
    display: block;
    float: right;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    margin-right: 35px;
}
    /*控制条结束*/
.info{
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid white;
    background-color: #211E1D;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    bottom: 46px;
    right: 230px;
    z-index: 9999;
    display: none;
}
.mask{
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    filter: blur(5px);

}
/*!*背景样式*!*/
/*html, body{*/

    /*background: #000;*/

/*}*/

/*#canvas{*/
    /*cursor: crosshair;*/
    /*z-index: 2;*/
    /*position: absolute;*/
    /*top: 0; left: 0;*/
/*}*/

/*#overlay{*/
    /*background: radial-gradient(ellipse at center, rgba(0,0,0,.0) 10%, rgba(0,0,0,.8) 80%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);*/
    /*z-index: 3;*/
    /*position: absolute;*/
    /*top:0;left:0;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

/*#bg_glow{*/
    /*z-index: 1;*/
    /*position: absolute;*/
    /*top:0;left:0;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/


/*#overlay:hover{*/
    /*cursor: pointer;*/
/*}*/

/*#fps{*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    /*z-index: 5;*/
/*}*/
